/*SOMAIRE*/
/*********************** NAV ************************/
/*********************** BODY ************************/
/*********************** FOOTER ************************/
/*********************** LE MENU DEROULANT ************************/
/*********************** LA BARE DE RECHERCHE************************/
/*********************** PARTIE MOBILE ************************/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
/* enlver le margin et le pading pour tout la page */
* {
    margin: 0;
    padding: 0;
    font-family:"PT sans Narrow", sans-serif;
    outline: none;
}
/*********************** NAV ************************/
header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.logo-container {
    display: flex;
}
.logo {
    height: 100px;
    margin-right: 20px;
    margin-top: 10px;
}

.title-site {
    margin-top: 30px;
    font-size: 40px;
}

.title-page {
    margin-bottom: 50px;
    font-size: 55px;
    text-align: center;
}
.logout-admin{
    text-decoration: none;
    background: #DC3545;
    color: #fff;
    padding: 12px 24px;
    height: 20px;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.logout-admin:hover{
    background: #e9394b;
}
/*********************** BODY ************************/
main {
    display: flex;
    justify-content: space-around;
}
main a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 40px;
}

main div {
    padding: 50px;
    margin: 0 50px;
}
.add {
    background-color: #4a8bec;
    border-radius: 40px 0px 0px 40px;
}
.del {
    background-color: red;
}
.all {
    background-color: #040176;
    border-radius: 0px 40px 40px 0px;
}
/*********************** FOOTER ************************/
footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color:#040176;
}

.fm-logo {
    width: 250px;
    border-radius: 10px;
}
.socialnw-logo {
    margin-right: 70px;
    margin-top: 2px;
    font-size: 40px;
    color: white;
}
footer .socialnw a i img{
    filter:  brightness(0) invert(1);
    height: 50px;
}
.warning {
    font-size: 35px;
    text-align: center;
    color: red;
}
/*********************** LE MENU DEROULANT ************************/
.dropdown {
    position: relative;
    width: 250px;
    height: 60px;
    margin-top: 38px;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    background: white;
    /* pas visible avec le bg*/
    box-shadow: 20px 20px 60px #d0d0d0,-20px -20px 60px #ffffff;
    /*effet Neomorphism*/
    transition: all 500ms ease-in-out;
    cursor: pointer;
}


.dropdown:active {
    background: white;
    box-shadow: inset 7px 7px 14px #cccdd1, -7px -7px 14px #ffffff;
}
.dropdown:hover{
    background: rgb(240, 240, 240);
}

.dropdown input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border: none;
    outline: none;
    background: none;
    color: #37373d;
    font-size: 1.2em;
    cursor: pointer;
}

.dropdown input:focus {
    outline: none;
    border: none;
}

.dropdown i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #37373d;
}

.dropdown.show i {
    transform: translateY(-50%) rotate(180deg);
    transition: all 500ms ease-in-out;
}

.options {
    position: absolute;
    top: 60px;
    width: 250px;
    border-radius: 30px;
    background: white;
    /* pas visible avec le bg*/
    box-shadow: 20px 20px 60px #d0d0d0,-20px -20px 60px #ffffff;
    /*effet Neomorphism*/
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.dropdown.show .options {
    visibility: visible;
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.options li {
    padding: 15px;
    position: relative;
    list-style-type: none;
    color: #37373d;
    transition: all 500ms ease-in-out;
}

.options li a {
    text-decoration: none;
    color: #37373d;
}

.options li:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.options li:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.options li:hover {
    background: rgb(0,0,0,.1);
}

.options li:last-child{
    background-color: #DC3545;
}

.options li:last-child:hover{
    background-color: #e9394b;
}

.options li:last-child a,
.options li:last-child a i{
    color: white;
}
/*********************** LA BARE DE RECHERCHE************************/
.header-container {
    display: flex;
    justify-content: space-between;
}
.exit{
    background-color: #DC3545;
    color: white;
}
.exit a{
    color: white;
}

.header__search-content{
    display: none;
    justify-content: center;
  }
  
  .searchBar {
    position: relative;
    display: inline-block;
  }
  
  .form-search input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-search input[type=text] {
    background-color: #f1f1f1;
    width:1000px;
  }
  
  .form-search input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: not-allowed;
  }
  .autocomplete-items{
    color: white;
  }
  .autocomplete-items{
    position: relative;
    display: inline-block;
  }
  .autocomplete-items-active p{
    color: black;
    width:1000px;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .autocomplete-items-active p:hover{
    background-color: #ddd;
    color: black;
  }
/*********************** PARTIE MOBILE ************************/
@media screen and (max-width: 850px){
        /* logo-container */
    .dropdown{
        display: none;
    }
    .logo-container .logo{
        height: 70px;
    }
    .logo-container .title-site{
        font-size: 25px;
    }
    .title-page {
        margin-bottom: 35px;
        font-size: 35px;
    }
    /* footer */
    .fm-logo{
        width: 100px;
        border-radius: 5px;
    }
    .socialnw-logo {
        margin-right: 30px;
        font-size: 30px;
    }
    footer .socialnw a i img{
        filter:  brightness(0) invert(1);
        height: 30px;
    }
    /* main */
    main {
        flex-direction: column;
    }
    main a {
        font-size: 30px;
    }
    main div {
        padding: 40px;
    }
    .add {
        background-color: #4a8bec;
        border-radius: 40px 40px 0px 0px;
    }
    .del {
        margin-top: 5px;
        background-color: red;
    }
    .all {
        margin-top: 5px;
        background-color: #040176;
        border-radius: 0px 0px 40px 40px;
    }
}